.App {
  text-align: center;
}





body{
  margin: 0;
  padding: 0;
  background: #0f0f0f;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}



.timer-display{
  font-size: 5rem;
  font-weight: 50;
  font-family: 'Courier';
  color:  aqua ;
  border-bottom: 1px solid aqua;
  
}

.button{
  display: inline-flexbox;
  outline: none;
  font-family: 'Courier';
  box-sizing: border-box;
  text-decoration: none;
  border: 1.5px solid aqua;
  background-color: #0f0f0f;
  color: aqua;
  width: 7em;
  height: 3em;
  border-radius: 7px;
  margin: 7px;
  margin-top: 0;
}

.lap-header{
  position: relative;
  text-decoration: none;
  text-align: center;
  font-family: 'Courier';
  color:  aqua ;
  font-size: 2.75em;
  font-weight: 50;
  border-bottom: 1px solid aqua;
  margin-top: 30px;
}

.laptime{
  margin-bottom: 20px;
  position: relative;
  list-style: none;
  text-align: center;
  font-family: 'Courier';
  font-size: 1.5em;
  color:  aqua ;
}

.clear-btn{
  margin-left: 5px;
  position: relative;
  background-color: #0f0f0f;
  border: none;
  border-bottom: 1px solid aqua;
  border-top: 1px solid aqua;
  color: aqua;
  font-family: 'Courier';
}

.clearall-btn{
  position: relative;
  background-color: #0f0f0f;
  border: none;
  border-bottom: 1px solid aqua;
  border-top: 1px solid aqua;
  color: aqua;
  font-family: 'Courier';
  padding: 3px;
}



@media only screen and (max-width: 768px) {
  /* For mobile phones: */
body{
  text-align: center;
}

 .timer-display{
   width: 90%;
   margin: 1em auto;
   font-size: 2.5em;
 }

 .button{
  width: 5em;
  height: 2em;
 }

 .lap-header{
  width: 90%;
  margin: 1em auto;
  font-size: 1.5em;
 }

 .laptime{
  margin-right: 10%;
   font-size: .9em;
 }
}